{%  for accessory in existing_accessories %}
Accessory name: {{ accessory.name }}
Accessory type: {{ accessory.type }}
Accessory description: {{ accessory.description }}
Accessory personal significance: {{ accessory.personal_significance }}
Accessory diffusion model description: {{ accessory.diffusion_model_description }}
{% endfor %}