{% for aspect in backstory.aspects %}
aspect name: {{ aspect.aspect_name }}
aspect description: {{ aspect.aspect_description }}
aspect strength on personality and actions: {{ aspect.strength_of_aspect_in_personality }}
{% endfor %}