{% for clothing in clothing %}
Clothing name: {{ clothing.clothing_name }}
Clothing type: {{ clothing.clothing_category }}
Diffusion model description: {{ clothing.diffusion_model_description }}
Occasion used in: {{ clothing.occasion }}
Clothing description: {{ clothing.description }}
Clothing purpose: {{ clothing.purpose }}
{%  endfor %}