- Start by considering the person that has been specified: {{ name }}
- Then consider what we know about this person.
- Then consider positive attributes about this person from an objective point of view.
- Then consider negative attributes about this person from an objective point of view.
- Then make sure you have been historically unbiased, it is vital that the result not be biased.
- Then write an objective, distant description of this person so that it captures the nuance that makes them human.
- Ensure that the description is indepth spanning at least 1000 tokens, covering all aspects of their life not just what they were well known for.