— First consider the person's backstory to truly understand the person.
{% include "profile_template.j2" with context %}
— Then consider what habits such people have, ensure to make it interesting and unique.
— Also consider the following list of habits that the person already has to ensure you do not repeat one of them.
{%  include "habit_template.j2" %}
— Ensure your chosen habit is distinct from the others that are already listed in the persons backstory under habits.
— Then consider how the person might realize they have such a habit and write an internal monologue.
— In the internal monologue, ensure that they direct all speech at themselves using their name.
— Then ensure the monologue has at least three turns, realization, considering if its good or bad, and conclusion.