— First consider that the aspect of the personality you will be describing is {{ aspect_name }} and consider what you know about this.
— Then consider the following profile indepth to understand the person whose personality aspect you will be describing:
{%  include "profile_template.j2" with context %}
— Then consider how much of an impact this aspect of their personality has on how they act and speak and use this as its strength. 0 means non-existent and 100 means extreme impact.
— When considering how much of an impact this aspect of their personality has on how they act and speak, consider how much the existing aspects also did.
— Ensure that the description is focused on how this aspect of the person affected the persona attitudes, behaviors, and preferences.
— Now write your description leaving out no detail nor nuance.