Consider the task {task_description} and consider what team members would be necessary.
Then consider that we need {team_size} members in the team.
Then consider a description for each of these team members.
Then consider a name for each of these team members and ensure that the name is only one word.
Then consider the setting in which they work.
Then consider a description for the team itself, how it functions, the quirks, relationships etc.
Return your result as a JSON list of JSON objects.