— Consider the following description of the person to understand them.
Personas' name: {{ name }}
Seed description: {{ initial_character_description }}
— Then consider what gender this person is.
— Then consider the name that has been provided, you must use this name.
— Then consider how you can improve upon the description that was supplied to make it more objective, accurate and interesting.
— Then consider what they are like socially, and how they interact with others.
— Then consider what their education is like, how they learn and if and how they continue to learn.
{%  if historical == true %}
— This is a historical character so ensure that all details are accurate and backed by the historical record.
{% endif %}
— Finally, write an indepth backstory for this character while maintaining complete objectivity, accuracy and balance.