— First, consider the following description of the setting in which everything takes place:
{{ universe_description }}
- Ensure that the new location is not a copy of one of the following:
{%  for existing_location in existing_locations %}
{{ existing_location.name }}
{%  endfor %}
—Then consider what this location is for, how people will use it, and what would be done there.
—Then consider the visual aspect of the location, what does it look like, how big is it.
—Finally, write your detailed location description.